/* Basic Style */

.body {
  background-color: #f8f8f8;
  color: #333333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header-img {
  width: 100%;
}

.header .more-inf {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .header {
    text-align: center;
  }

}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task-row-wrapper {
  display: flex;
}

.task-list {
  margin: 0;
  padding: 0px;
}

.task-item,
.task-title {
  list-style: none;
}

.inp,
.btn {
  outline: none;
}

.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3a3a;
}

/* Heading */

.task-title,
.lbl[for="new-task"] {
  color: #333333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.inp {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dddddd;
  background: #ffffff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888888;
}

.inp:focus {
  color: #333333;
}

/* New Task */

.lbl[for="new-task"] {
  display: block;
  margin: 0 0 20px;
}

/*   input#new-task {
  width: 318px;
} */

/* Task list */

.task-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item > * {
  vertical-align: middle;
}

.task-item > .inp-text {
  margin: 0 10px;
}

.task-item > .lbl {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task-item > .inp-text {
  width: 226px;
}

.btn-delete .btn-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.btn-delete .btn-img:hover {
  transform: rotateZ(0);
}

/* Completed */

#completed-tasks .lbl {
  text-decoration: line-through;
  color: #888888;
}

/* Edit Task */

.task-item .inp-text {
  display: none;
}

.edit-mode .inp-text {
  display: inline-block;
  width: 224px;
}

.edit-mode .lbl {
  display: none;
}